<header>
    <div class="logo">
      <i class="fa-duotone fa-regular fa-s"></i>
      <div class="logo-text">Paws On the Keyboard</div>
    </div>
    <nav>
      <div class="togglebtn">
        <span></span><span></span><span></span><span></span><span></span>
      </div>
      <ul class="navlinks">
        <li><a href="index.html">Home</a></li>
        <li><a href="projects.html">Portfolio</a></li>
        <li><a href="about.html">Resume</a></li>
        <li><a href="blogs.html">Blog</a></li>
        <li><a href="bobo.html">Bobo 🐱</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>